* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 34px;
}

.grid {
    gap: 30px 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.content {
    /* Style for "RELATED" */
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.item {
/* Style for "Rectangle" */
    width: 270px;
    min-height: 349px;
    border-radius: 4px;
    border: 3px solid #f6f7f8;
    padding: 30px 17px 52px 17px;
}

.line {
/* Style for "Rectangle" */
    width: 230px;
    height: 1px;
    background-color: grey;
    /* #f6f7f8; */
    margin-bottom: 30px;
}

img {
    margin-bottom: 30px;
}

.product-name {
    margin-bottom: 34px;
/* Style for "Apple Macb" */
    color: #262626;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 16.8px;
    text-align: center;
    /* Text style for "Apple Macb" */
    font-family: "Proxima Nova - Black";
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.price {
    text-align: center;
}

.sale {
/* Style for "$499" */
    width: 42px;
    height: 16px;
    color: #ff4858;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 16.8px;
    text-align: center;
    /* Text style for "$499" */
    font-family: "Proxima Nova - Black";
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.full-price {
/* Style for "$599" */
    width: 42px;
    height: 16px;
    color: #c1c8ce;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 16.8px;
    text-align: center;
    /* Text style for "$599" */
    font-family: "Proxima Nova - Black";
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration-line: line-through;
}




























/* .block {
    display: flex;
    flex-wrap: wrap; 
    /* Направление */
    /* flex-direction: column; */
    /* background-color: grey;
    padding: 10px;
    height: 400px; */
    /* Выравние по главной оси */
    /* justify-content: space-between; */
    /* Выравнивание по второстепенной оси */
    /* align-items: start; */
/* } */

/* .item {
    border: 1px solid;
    background-color: tomato;
    padding: 5px;
}

.item-3 {
    align-self: end;
}

.item-4 {
    background-color: #fff;
    order: -1;
}

.item-2 {
    flex-basis: 30%;
}

.item-5 {
    flex-grow: 1;
/*  */